@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  text-align: center;
}

.outer {
  margin: 1rem;
  display: inline-flex;
}

#butt {
  border: 1px solid transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0.5rem;
  margin: 3px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  background-image: linear-gradient(180deg, rgb(126, 15, 72), rgb(235, 5, 235));
  border-radius: 5px;
}

#title {
  background-image: linear-gradient(120deg, aqua, rgb(0, 153, 255));
  padding: 0.5rem;
  font-family: 'Patrick Hand', cursive;
  border: none;
}

#number {
  background-image: linear-gradient(120deg, aqua, rgb(0, 153, 255));
  padding: 0.5rem;
  font-family: 'Patrick Hand', cursive;
  border: none;
}
